<header>
    <div class="sombreado"></div>
    <div class="content-img-logo">
        <a href="/">
            <img src="images/logo.png" alt="">
        </a>
    </div>
    <div class="search-flotante">
        <form action="">
            <input type="search" placeholder="Busca productos, accesorios y más">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="content-burguer">
        <img src="images/burguer.jpg" alt="">
    </div>
    <nav class="burguer-desplegado">
        <div class="icon-cierre">
            <i class="far fa-times-circle"></i>
            <h4>Menú</h4>
        </div>
        <ul class="icon-header">
            <li class="busqueda">BUSCAR</li>
            <li class="usuario">MI CUENTA</li>
            <li class="carrito">MI CARRITO</li>
            <li class="navegacion-categoria"><a href="#categorias">CATEGORIAS</a></li>
            <li class="navegacion-oferta"><a href="#ofertas">OFERTAS</a></li>
            <li class="navegacion-pregunta"><a href="#preguntas-frecuentes">PREGUNTAS FRECUENTES</a></li>
            <li class="navegacion-nosotros"><a href="#sobre-nosotros">SOBRE NOSOTROS</a></li>
            <li class="navegacion-medios-pago"><a href="#navegacion-medios-pago">MEDIOS DE PAGO</a></li>
            <li class="navegacion-entregas"><a href="#navegacion-entregas">PUNTOS DE ENTREGA</a></li>
        </ul>
    </nav>
    <div class="user-flotante">
        <form action="">
            <h4>Iniciar sesion</h4>
            <input type="text" placeholder="Ingrese su mail">
            <input type="text" placeholder="Ingrese su contraseña">
            <p>¿Olvidaste tu contraseña? <a href="">Click aqui</a></p>
            <div class="buttons-contains">
                <button type="submit">Ingresar</button>
                <a href="" class="button">Registrarme</a>
            </div>
        </form>
    </div>
    <div class="carrito-desplegado">
        <div class="header-carrito">
            <div class="icon-cierre-carrito">
                <i class="far fa-times-circle"></i>
            </div>
            <h4>Tú carrito</h4>
        </div>
    </div>
</header>