<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cb06bc0e62.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Oneclick</title>
</head>
<body>
  <header>
    <div class="sombreado"></div>
    <div class="content-img-logo">
      <a href="/">
        <img src="images/logo.png" alt="">
      </a>
    </div>
    <div class="search-flotante">
      <form action="">
        <input type="search" placeholder="Busca productos, accesorios y más">
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <div class="content-burguer">
      <img src="images/burguer.jpg" alt="">
    </div>
    <nav class="burguer-desplegado">
      <div class="icon-cierre">
        <i class="far fa-times-circle"></i>
        <h4>Menú</h4>
      </div>
      <ul class="icon-header">
        <li class="busqueda">BUSCAR</li>
        <li class="usuario">MI CUENTA</li>
        <li class="carrito">MI CARRITO</li>
        <li class="navegacion-categoria"><a href="#categorias">CATEGORIAS</a></li>
        <li class="navegacion-oferta"><a href="#ofertas">OFERTAS</a></li>
        <li class="navegacion-pregunta"><a href="#preguntas-frecuentes">PREGUNTAS FRECUENTES</a></li>
        <li class="navegacion-nosotros"><a href="#sobre-nosotros">SOBRE NOSOTROS</a></li>
        <li class="navegacion-medios-pago"><a href="#navegacion-medios-pago">MEDIOS DE PAGO</a></li>
        <li class="navegacion-entregas"><a href="#navegacion-entregas">PUNTOS DE ENTREGA</a></li>
      </ul>
    </nav>
    <div class="user-flotante">
      <form action="">
        <h4>Iniciar sesion</h4>
        <input type="text" placeholder="Ingrese su mail">
        <input type="text" placeholder="Ingrese su contraseña">
        <p>¿Olvidaste tu contraseña? <a href="">Click aqui</a></p>
        <div class="buttons-contains">
          <button type="submit">Ingresar</button>
          <a href="" class="button">Registrarme</a>
        </div>
      </form>
    </div>
    <div class="carrito-desplegado">
      <div class="header-carrito">
        <div class="icon-cierre-carrito">
          <i class="far fa-times-circle"></i>
        </div>
        <h4>Tú carrito</h4>
      </div>
    </div>
  </header>

  <div class="banner">
    <div class="content-texto-animado">
      <h2>¡ Bienvenidos A Oneclick !</h2>
      <span>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, officiis!
      </span>
    </div>
    <img src="/images/banner_general.png" alt="banner">
  </div>
  
  <main>
    <section id="categorias">
      <h2>Categorias</h2>
      <div class="glider-contain">
        <div class="glider-categorias">
          <div class="contenedor-category">
            <img src="/images/perro.jpg" alt="categoria perro">
            <a href="">Perros</a>
          </div>
          <div class="contenedor-category">
            <img src="/images/gato.png" alt="categoria gato">
            <a href="">Gatos</a>
          </div>
          <div class="contenedor-category">
            <img src="/images/ave.jpg" alt="categoria ave">
            <a href="">Aves</a>
          </div>
          <div class="contenedor-category">
            <img src="/images/pez.jpg" alt="categoria pez">
            <a href="">Peces</a>
          </div>
          <div class="contenedor-category">
            <img src="/images/roedor.jpg" alt="categoria roedor">
            <a href="">Roedores</a>
          </div>
          <div class="contenedor-category">
            <img src="/images/reptil.jpg" alt="categoria reptil">
            <a href="">Reptiles</a>
          </div>
        </div>
        
        <button aria-label="Previous" class="glider-prev prev-categorias">«</button>
        <button aria-label="Next" class="glider-next next-categorias">»</button>
        
      </div>
    </section>
    
    <section id="ofertas">
      <h2>Ofertas</h2>
      <div class="glider-contain">
        <div class="glider-ofertas">
          <div class="contenedor-producto">
            <a href="" class="image-producto">
              <img src="/images/productos/casa_perros.png" alt="">
              <p class="discount">%50</p>
            </a>
            <div class="contenido-producto">
              <h3>Producto</h3>
              <p>$500</p>
              <button>Agregar al carrito</button>
            </div>
          </div>
          <div class="contenedor-producto">
            <a href="" class="image-producto">
              <img src="/images/productos/casa_perros.png" alt="">
              <p class="discount">%50</p>
            </a>
            <div class="contenido-producto">
              <h3>Producto</h3>
              <p>$500</p>
              <button>Agregar al carrito</button>
            </div>
          </div>
          <div class="contenedor-producto">
            <a href="" class="image-producto">
              <img src="/images/productos/casa_perros.png" alt="">
              <p class="discount">%50</p>
            </a>
            <div class="contenido-producto">
              <h3>Producto</h3>
              <p>$500</p>
              <button>Agregar al carrito</button>
            </div>
          </div>
          <div class="contenedor-producto">
            <a href="" class="image-producto">
              <img src="/images/productos/casa_perros.png" alt="">
              <p class="discount">%50</p>
            </a>
            <div class="contenido-producto">
              <h3>Producto</h3>
              <p>$500</p>
              <button>Agregar al carrito</button>
            </div>
          </div>
        </div>
        
        <button aria-label="Previous" class="glider-prev prev-ofertas">«</button>
        <button aria-label="Next" class="glider-next next-ofertas">»</button>
        
      </div>
    </section>
    
    <section id="preguntas-frecuentes">
      <h2>Preguntas frecuentes</h2>
      <div class="orden-cajas">
        <article class="active" data-categoria="metodos-pago">
          <i class="fas fa-credit-card"></i>
          <p>Metodos de pago</p>
        </article>
        <article data-categoria="envios">
          <i class="fas fa-truck"></i>
          <p>Envios</p>
        </article>
        <article data-categoria="seguridad">
          <i class="fas fa-shield-alt"></i>
          <p>Seguridad</p>
        </article>
        <article data-categoria="cuenta">
          <i class="fas fa-users-cog"></i>
          <p>Cuenta</p>
        </article>
      </div>
      
      <div class="consultas">
        <article class="activo" data-categoria="metodos-pago">
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Que metodos de pago disponible tienen?</h3>
            </div>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Tienen tiempo estimado de pago?</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
        </article>
        <article data-categoria="envios">
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Tiempo estimado de envio?</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Que costos de envio poseen?</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
        </article>
        <article data-categoria="seguridad">
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Que datos personales son requeridos?</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Cuales son las medidas de seguridad al momento de entrega y envio?</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
        </article>
        <article data-categoria="cuenta">
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Como puedo acceder a mis ordenes de compra?</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Como puedo cambiar mi contraseña?</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
        </article>
      </div>
      
    </section>
    
  </main>
  
  <footer>
    <section>
      <article class="sobre-nosotros" id="sobre-nosotros">
        <div class="content-sobre-nosotros">
          <img src="/images/logo.png" alt="logo">
        </div>
        <div class="descripcion-sobre-nosotros">
          <h2><span>SOBRE</span> NOSOTROS</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita placeat voluptatum delectus, iure ad cum deserunt reprehenderit sit impedit, nam, temporibus sequi rerum provident eos in illum. Accusantium dignissimos ea maxime quam? Ex illum nesciunt repellat quis rem nostrum odit aliquid voluptatem libero ipsam totam fuga voluptatibus accusantium velit asperiores veritatis pariatur placeat aperiam officiis, possimus eum laborum illo cum? Dicta quae pariatur eveniet perferendis culpa libero repellat eum doloribus ut reiciendis praesentium fugit odit facilis debitis, porro voluptatibus cupiditate illum excepturi magni quas facere ipsum? Asperiores, quisquam. Amet voluptatum maiores magni officiis! Inventore a explicabo perspiciatis. Minus, velit voluptatibus.</p>
        </div>
      </article>
      <article class="medios-de-pago" id="navegacion-medios-pago">
        <div class="descripcion-pagos">
          <h2>MEDIOS <span>DE PAGO</span></h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ea modi quis quae assumenda, a aliquam porro harum. Assumenda quia iure maxime impedit placeat, laboriosam dolor aspernatur doloribus. Dolores enim non incidunt. Quis, sapiente eos odit laborum excepturi quaerat, voluptates explicabo iure quod, rerum numquam expedita. Aperiam ducimus repellat ea!</p>
        </div>
        <div class="content-pagos">
          <img src="/images/pagos.jpg" alt="logo-pago">
        </div>
      </article>
      <article class="entregas" id="navegacion-entregas">
        <div class="content-entregas">
          <img src="/images/entregas.jpg" alt="mapa de entregas">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, distinctio?</p>
        </div>
        <div class="descripcion-entregas">
          <h2><span>PUNTOS</span> DE ENTREGA</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatem ducimus? Voluptas quia magni molestias sapiente dolores nam excepturi iure expedita impedit alias magnam commodi quos delectus modi laudantium iusto, praesentium distinctio est eum laboriosam saepe aut. Vero, ipsum qui placeat nisi alias aperiam iure consequatur dolorum, aliquam eius eos.</p>
        </div>
      </article>
    </section>
    
    <section class="pie-de-pagina">
      <article class="redes-sociales">
        <ul>
          <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
          <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
          <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
          <li><a href=""><i class="fab fa-youtube-square"></i></a></li>
        </ul>
      </article>
      <article class="copyright">
        <p>2021 ©  | Todos los derechos reservados | Desarollo MV</p>
      </article>
    </section>
  </footer>
  
  <div class="whatsapp">
    <div class="content-whatsapp">
      <a href="">
        <img src="/images/whatsapp.png" alt="imagen-whatsapp">
      </a>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
  <script src="/javascripts/nav_desplegado.js"></script>
  <script src="/javascripts/search_desplegado.js"></script>
  <script src="/javascripts/user_desplegado.js"></script>
  <script src="/javascripts/glider.js"></script>
  <script src="/javascripts/preguntas_frecuentes.js"></script>
  <script src="/javascripts/carrito_desplegado.js"></script>
  <script src="/javascripts/nav_interna.js"></script>
  <script src="/javascripts/animacion_texto.js"></script>
  
</body>
</html>
