<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %> 
<body>

  <%- include('partials/header') %>

  <div class="banner">
    <div class="content-texto-animado">
      <h2>¡ Bienvenidos A Oneclick !</h2>
      <span>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, officiis!
      </span>
    </div>
    <img src="/images/banner_general.png" alt="banner">
  </div>
  
  <main>
    <section id="categorias">
      <h2>Categorias</h2>
      <div class="glider-contain">
        <div class="glider-categorias">
          <div class="contenedor-category">
            <img src="/images/perro.jpg" alt="categoria perro">
            <a href="">Perros</a>
          </div>
          <div class="contenedor-category">
            <img src="/images/gato.png" alt="categoria gato">
            <a href="">Gatos</a>
          </div>
          <div class="contenedor-category">
            <img src="/images/ave.jpg" alt="categoria ave">
            <a href="">Aves</a>
          </div>
          <div class="contenedor-category">
            <img src="/images/pez.jpg" alt="categoria pez">
            <a href="">Peces</a>
          </div>
          <div class="contenedor-category">
            <img src="/images/roedor.jpg" alt="categoria roedor">
            <a href="">Roedores</a>
          </div>
          <div class="contenedor-category">
            <img src="/images/reptil.jpg" alt="categoria reptil">
            <a href="">Reptiles</a>
          </div>
        </div>
        
        <button aria-label="Previous" class="glider-prev prev-categorias">«</button>
        <button aria-label="Next" class="glider-next next-categorias">»</button>
        
      </div>
    </section>
    
    <section id="ofertas">
      <h2>Ofertas</h2>
      <div class="glider-contain">
        <div class="glider-ofertas">
          <div class="contenedor-producto">
            <a href="" class="image-producto">
              <img src="/images/productos/casa_perros.png" alt="">
              <p class="discount">%50</p>
            </a>
            <div class="contenido-producto">
              <h3>Producto</h3>
              <p>$500</p>
              <button>Agregar al carrito</button>
            </div>
          </div>
          <div class="contenedor-producto">
            <a href="" class="image-producto">
              <img src="/images/productos/casa_perros.png" alt="">
              <p class="discount">%50</p>
            </a>
            <div class="contenido-producto">
              <h3>Producto</h3>
              <p>$500</p>
              <button>Agregar al carrito</button>
            </div>
          </div>
          <div class="contenedor-producto">
            <a href="" class="image-producto">
              <img src="/images/productos/casa_perros.png" alt="">
              <p class="discount">%50</p>
            </a>
            <div class="contenido-producto">
              <h3>Producto</h3>
              <p>$500</p>
              <button>Agregar al carrito</button>
            </div>
          </div>
          <div class="contenedor-producto">
            <a href="" class="image-producto">
              <img src="/images/productos/casa_perros.png" alt="">
              <p class="discount">%50</p>
            </a>
            <div class="contenido-producto">
              <h3>Producto</h3>
              <p>$500</p>
              <button>Agregar al carrito</button>
            </div>
          </div>
        </div>
        
        <button aria-label="Previous" class="glider-prev prev-ofertas">«</button>
        <button aria-label="Next" class="glider-next next-ofertas">»</button>
        
      </div>
    </section>
    
    <section id="preguntas-frecuentes">
      <h2>Preguntas frecuentes</h2>
      <div class="orden-cajas">
        <article class="active" data-categoria="metodos-pago">
          <i class="fas fa-credit-card"></i>
          <p>Metodos de pago</p>
        </article>
        <article data-categoria="envios">
          <i class="fas fa-truck"></i>
          <p>Envios</p>
        </article>
        <article data-categoria="seguridad">
          <i class="fas fa-shield-alt"></i>
          <p>Seguridad</p>
        </article>
        <article data-categoria="cuenta">
          <i class="fas fa-users-cog"></i>
          <p>Cuenta</p>
        </article>
      </div>
      
      <div class="consultas">
        <article class="activo" data-categoria="metodos-pago">
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Que metodos de pago disponible tienen?</h3>
            </div>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Tienen tiempo estimado de pago?</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
        </article>
        <article data-categoria="envios">
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Tiempo estimado de envio?</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Que costos de envio poseen?</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
        </article>
        <article data-categoria="seguridad">
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Que datos personales son requeridos?</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Cuales son las medidas de seguridad al momento de entrega y envio?</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
        </article>
        <article data-categoria="cuenta">
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Como puedo acceder a mis ordenes de compra?</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
          <div class="respuesta">

            <div class="pregunta">
              <i class="fas fa-plus-circle"></i>
              <h3>¿Como puedo cambiar mi contraseña?</h3>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facere corporis? Aut nesciunt deserunt necessitatibus quos, earum nihil repudiandae veniam nulla et voluptates odio sint magnam quas voluptatibus numquam officia?</p>
          </div>
        </article>
      </div>
      
    </section>
    
  </main>
  
  <%- include('partials/footer') %> 
  
  <%- include('partials/scripts') %> 
  
</body>
</html>
