<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">

<section id="categorias">
    <h2>Perros</h2>
    <div class="glider-contain">
      <div class="glider">
        <div class="contenedor-producto">
          <a href="" class="image-producto">
            <img src="/images/productos/casa_perros.png" alt="">
            <p class="discount">%50</p>
          </a>
          <div class="contenido-producto">
            <h3>Producto</h3>
            <p>$500</p>
            <button>Agregar al carrito</button>
          </div>
        </div>
        <div class="contenedor-producto">
          <a href="" class="image-producto">
            <img src="/images/productos/casa_perros.png" alt="">
            <p class="discount">%50</p>
          </a>
          <div class="contenido-producto">
            <h3>Producto</h3>
            <p>$500</p>
            <button>Agregar al carrito</button>
          </div>
        </div>
        <div class="contenedor-producto">
          <a href="" class="image-producto">
            <img src="/images/productos/casa_perros.png" alt="">
            <p class="discount">%50</p>
          </a>
          <div class="contenido-producto">
            <h3>Producto</h3>
            <p>$500</p>
            <button>Agregar al carrito</button>
          </div>
        </div>
        <div class="contenedor-producto">
          <a href="" class="image-producto">
            <img src="/images/productos/casa_perros.png" alt="">
            <p class="discount">%50</p>
          </a>
          <div class="contenido-producto">
            <h3>Producto</h3>
            <p>$500</p>
            <button>Agregar al carrito</button>
          </div>
        </div>
      </div>
      
    </div>
    
    <h2>Gatos</h2>
    <div class="glider-contain">
      <div class="glider">
        <div class="contenedor-producto">
          <a href="" class="image-producto">
            <img src="/images/productos/casa_perros.png" alt="">
            <p class="discount">%50</p>
          </a>
          <div class="contenido-producto">
            <h3>Producto</h3>
            <p>$500</p>
            <button>Agregar al carrito</button>
          </div>
        </div>
        <div class="contenedor-producto">
          <a href="" class="image-producto">
            <img src="/images/productos/casa_perros.png" alt="">
            <p class="discount">%50</p>
          </a>
          <div class="contenido-producto">
            <h3>Producto</h3>
            <p>$500</p>
            <button>Agregar al carrito</button>
          </div>
        </div>
        <div class="contenedor-producto">
          <a href="" class="image-producto">
            <img src="/images/productos/casa_perros.png" alt="">
            <p class="discount">%50</p>
          </a>
          <div class="contenido-producto">
            <h3>Producto</h3>
            <p>$500</p>
            <button>Agregar al carrito</button>
          </div>
        </div>
        <div class="contenedor-producto">
          <a href="" class="image-producto">
            <img src="/images/productos/casa_perros.png" alt="">
            <p class="discount">%50</p>
          </a>
          <div class="contenido-producto">
            <h3>Producto</h3>
            <p>$500</p>
            <button>Agregar al carrito</button>
          </div>
        </div>
      </div>
      
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
  <script src="/javascripts/glider.js"></script>