@import './header.css';
@import './index.css';
@import './footer.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

input:focus,
button:focus{
  outline: transparent;
}

:root{
  --colorRosaClaro: #f0e3ca;
  --colorMarron: #a35709;
  --colorNaranja: #ff8303;
  --colorNegro: #212529;
  --colorVioleta: #542e71;
  --colorAmarillo: #fdca40;
  --colorRosaFuerte: #fb3640;
  --colorRosaBorde: #fb3640c0;
  --colorVerde: #206a5d;
}

@media(min-width: 768px){
  /* main */
  main{
    max-width: 720px;
    margin: 0 auto;
  }
}

@media(min-width: 992px){
  /* main */
  main{
    max-width: 960px;
  }
}

@media(min-width: 1200px){
  /* main */
  main{
    max-width: 1140px;
  }
}














